#para1{
    width: 200px;
    height: 200px;
    border: 2px solid orange;
    background-color: brown;
    display: inline-block;
}
#para2{
    width: 200px;
    height: 200px;
    border: 2px solid orange; 
    background-color: chocolate;
    display: inline-block;
   bottom: 20px;
    right: 20px;
    /* position: static;   By Default */
    position: fixed;
}
#para3{
    width: 200px;
    height: 200px;
    border: 2px solid orange;
    background-color: cadetblue;
    display: inline-block;
    z-index: 1;
    position: relative;
}
#para4{
    width: 200px;
    height: 200px;
    border: 2px solid orange;
    background-color: burlywood;
    display: inline-block;
}